<<<<<<< HEAD
@font-face {
    font-family: 'teen';
    src:url('teen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html {
   margin: 0px;
   height: 100%;
   max-width: 100%;
   overflow:hidden;
  }

body{
	font-family: Helvetica;
	font-size:2vmin;
	margin:0; 
	padding:0;
	color:white;
	background-color:white;

	/*background-image: url(../assets/background.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size:cover;*/

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	-ms-overflow-style:none;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

.inner-container::-webkit-scrollbar {
  display: none;
}
.outer-container {

  overflow: hidden;
}

a{
	color:#333;
	font-size:1em;
}



input[type="text"] {
	font-size:2vmin;
}

input[type="number"] {
	font-size:2vmin;
}

select{
	font-size:2vmin;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


/* Color Scheme*/
	/* Backgrounds */
	.red{
		background-color:#ff0000;
	}
	.black{
		background-color:#000000;
	}
	.blue{
		background-color:#0000ff;
	}
		.gtblue{
		background-color:#003366;
	}

	.opacity{
		background-color:rgba(0,0,0,0.4);
	}
/* Font colors */

	
/* Font adjustments */

.sml-text{
	font-size:0.8em;
}
.med-text{
	font-size:1.4em;
}
.lrg-text{
	font-size:2em;
}
.v-lrg-text{
	font-size:3em;
}
.expanded{
	letter-spacing:0.4em;
}

/* Custom Button Colour */
.btn.blue{
	background-color:#00497D;
	color:#fffff0;
}

.btn.blue:hover{
	background-color:#57A9DB;
}



/* IDs */

#whereText{
	top:30%;
	bottom:25%;
}

/* Classes */



	/* global class styles */
	.wrapper{
		margin-right:2em;
		margin:0;
		
	}

	.wrapperCont{
		margin-left:0;
		margin-right:16%;

	}

	.textBlock{
	padding:5%;
	}


	.center {

	}


	.grey{
		background-color:#333;
	}

	.invert a{
		color:#fff;
	}

	.text{
		position:absolute;
		top:0;
		margin:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.6);
		color:#fff;
		text-align:center;
		letter-spacing:0.4em;
		font-size:70%;
	}


	.logo{
		padding:1%;
		margin:0;
	}

	.logo img{
		padding-top:1%;
		height:100%;
		display:block;
		margin:auto;
	}

	/* banner styles */

	.banner{
		font-size:2.2em;
		line-height:100%;
		padding: 3% 1% 1% 12%;
		text-align:left;
		color:white;
		
	}

	.bigbh{
		font-size:40px;
		font-weight:bold;
	}
	
	.bigbt{
		font-size:18px;
		font-weight:bold;
	}
	
	.bigbp{
		font-size:15px;
		font-weight:bold;
	}
	
	.paypal{
		font-size:25px;
		font-weight:bold;
	}

	.socBar{
		background-color:#333;
	}

	.buttonbig{
		height:8%;
		width:20%;
		background-color: ;
	}
	
	.navcol{
		color: red;
		color: blue;
	}
	
	.div.transbox {
	margin: 30px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	}
	
	.div.transbox p {
	margin: 5%;
	font-weight: bold;
	color: #000000;
	}
	
	.tab { 
       display:inline-block; 
       margin-left: 70px; 
}

	/* home page styles */

	.slideshowContainer img{
		max-height:100%;
		max-width:100%;
		display:block;
		margin:auto;
	}
	
	.centered {
	  position: fixed; /* or absolute */
	  top: 50%;
	  left: 50%;
	}
	.arrow{
			
		
	}

	.arrow img:hover{
	 opacity: 0.5;
	}

	.slide{
		
	}



	.newsContent{
		margin:2%;
		outline: #000000 solid thin;
		
	}

	.mainContent{
		padding:1%;
	}

	.mapbox{
		padding:3.5%;
	}
	
	.map{
		outline: #000000 solid thin;
		margin:2%;
		float:bottom;
	}

	.whereBox{
		outline: #000000 solid thin;
		color:black;
		text-align: center;
		vertical-align:middle;
		
	}
	
	/* events page styles */

	.eventText{

		margin:10%;
		outline: #000000 solid thin;
		padding:5%;

	}
	
	.events ul{
		margin:0;
		height:4%;
	}
	.events ul:hover{
		background-color:#555;
	}


	/* volunteer page styles */
	.profile img{
		height:100%;
		width:100%;
		padding:0;
	}

	.volText{
		margin:2% 0 2% 2%; 
		font-size:0.8em;

	}

	.volProfile img{
		padding:0;
		margin:0; 
		height:100%;

	}

	/* contact page styles */

	.contactText{

		padding:5%;
			outline: #000000 solid thin;

	}

	/* navigation styles */

	.nav{
		margin:0;
		padding:0;
		font-family: Helvetica;
		font-size:125%;
		text-align:center;
		line-height: 100%;
		list-style-type:none;
		color:black;
		/*border-top:white solid thin;
		/*border-bottom:white solid thin;*/

		
	}

	.bottomNav{
		border-top:white solid thin;


	}

	.nav a{
		float:middle;
		top:20%;
		font-size:1.75em;
		/*color:#fff;*/
		text-decoration: none;

		
	}
	.nav ul{
		margin:0;
		padding:0;
		font-size:75%;
		text-align:center;	
		height:100%;
		/*background-color:white;*/
		list-style-type: none;


	}

	ul.nav div{
		float:left;
		padding: 0;
		margin:0;
		line-height:2.5em;
		height:100%;

	}

	ul.nav li{
		float:left;
		padding: 0 15px;
		line-height:2.5em;
		height:100%;
	}


	.nav li:not(.nohover):hover{
			background-color:#2ee;
			cursor: pointer;
	}

	
	.navButton{
		border-radius: 0% 0% 0% 0%;
		border:white solid 5px;
		border-bottom:none;

	}
	
	
	.donate{
		background-color:white;
		display:block;
		margin: 0 20% 0 20%;
	}

	.clear{
		opacity:0;
	}


	/* other styles */
	div.invert li:hover{
		background-color:rgba(255,255,255,0.6);
		border-bottom:1px solid #fff;
	}

	div.invert li{
		color:#fff;
		border-bottom:1px solid #333;
	}
	
