<!DOCTYPE html>
<html lang="en-gb">
<head>
	<title>Grand Travel</title>
	<meta name="authors" content="Andrew Belcher, Luke Clayton, Robert Painter">
	<meta name="description" content="Grand Travel">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<!-- adjustements to make directory structures more freindly with flask/jinja -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
	<script   src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
	<script type="text/javascript">
	<!-- where we want to put jquery code that runs when the pages is loaded -->
	$('document').ready(function(){

		initPage();
		// modal jquery
		$('.enlarge').mouseenter(function(){
				$('.text',this).removeClass('hide');
			});
			
		$('.enlarge').mouseleave(function(){
				$('.text',this).removeClass('hide');
			});	
			
				$('#departLocation').on('change', function() {	

		// we need to fix this so that it doesnt keep appending..
		var departName = $('#departLocation').find(":selected").text();				
		var data=window.location+"Departure="+departName;
		window.location.replace(data);
		// location.reload();
	});
	//
	});  // End Doc ready

		// space for our javascript functions below, we will prob move this to its own file when it gets bigger
			function initPage(){
			
						// we need to removed the disabled attribute from input fields once we have a depart location
						// that way we can then calculate times/dates
						// having these fields open will just make more work for us / make it confusing to the customer
						var location = window.location.href;
						if(location.indexOf("Departure") > -1) {
									document.getElementById("departDate").removeAttribute("disabled");
						}
					}	
			function plane(){
						window.location.replace("../plane");
					}
					
			function train(){
						window.location.replace("../train");

					}
					
			function bus(){
						window.location.replace("../bus");

					}
					
			function taxi(){

						window.location.replace("../taxi");
					}
					
			function ferry(){
						window.location.replace("../ferry");
					}
				
</script>

</head>
<body>


<div class="wrapper w24 h23"> <!-- wrapper -->
	<div class="wrapperCont w16 h24">
		<!--<div class="col w24 h1 socBar"></div> <!-- social links -->
		<div class="col w24 h6"> <!-- banner logo space -->
			<!-- banner logo -->
			<div class="col w6 h24 grey"><img class="bannerLogo" src="{{ url_for('static', filename='assets/grandTravellogo.png') }}" height="100%" width="300%"></div>
			<!-- banner text -->
			<div class="col w18 h24 banner invert white">
				<!--<img class="bannerLogo" style="float:left;">-->
				Grand Travel
			</div>
		</div> 
		
		<div class="col w24 h1 nav pointer"><!-- navbar --> 
			<ul>
				<li class="col w3 h24 dark invert" onclick="plane()">PLANE</a></li>
				<li class="col w3 h24 dark invert" onclick="train()">TRAIN</a></li>
				<li class="col w3 h24 dark invert" onclick="bus()">BUS</a></li>
				<li class="col w3 h24 dark invert" onclick="taxi()">TAXI</a></li>
				<li class="col w3 h24 dark invert" onclick="ferry()">FERRY</a></li>

			</ul>			
		</div>
		
		<div class="col w24 h18 black"><!-- slidshow --> 
			<!-- div holding left slideshow arrow -->
			<!--<div class="col w4 h24 black arrow" onclick="backImage()"></div>-->
			<!-- main slideshow window -->
			<div class="col w24 h24 slideshowContainer fade">					
				<div style=" height: 100%">
					<!-- slideshow 1st image placeholder -->
					<div style="width: 100%; height: 100%; position: relative; border: 1px solid #000;">
					       <!-- <Form action= "demo.py" method="POST" name="MyForm" onsubmit="return formValidation()" style="position: absolute; padding:10%; width:100%; height:100%; z-index: 2; color:white; background-color:black; opacity: 0.8;  border: 1px solid #0ff;">
									  <div id="calandar">
										<label for="party">Choose your Departure location:</label>
										 <select>
										  <option value="newcastle">Newcastle</option>
										  <option value="Bristol">Bristol</option>
										  <option value="Cardiff">Cardiff</option>
										  <option value=4>4</option>
										</select><br><br> 	
										<label for="party">Choose your Departure Date:</label>
										<input type="date" id="party" name="party" min="2018-04-01" max="2018-04-30"><br><br>
										<label for="party">Choose your Departure time:</label>
										<input type="time" id="party" name="party"><br><br>
										<label for="party">Choose your Destination:</label>
										 <select>
										  <option value="newcastle">Newcastle</option>
										  <option value="Bristol">Bristol</option>
										  <option value="Cardiff">Cardiff</option>
										  <option value=4>4</option>
										</select><br><br> 
										<label for="party">How many passengers are traveling:</label>
										 <select>
										  <option value=1>1</option>
										  <option value=2>2</option>
										  <option value=3>3</option>
										  <option value=4>4</option>
										</select>
											<form action="demo.py" method="POST">
											<p>Click here: <button type="submit">Submit</button>
											</form>
											

										</div>
							</Form>   -->
							
							<!-- working area for dynamic forms based on the database data using jinja to pull and flask to feed -->
							<form method=post style="position: absolute; padding:10%; width:100%; height:100%; z-index: 2; color:white; background-color:black; opacity: 0.8;  border: 1px solid #0ff;">
							<label for="party">Choose your Departure location:</label>	
								{{ form.departLocation.__call__(**{'class': 'form-control'}) }}<br>
							<label for="party">Choose your Departure Date:</label>
							<input type="date" id="departDate" min={{form.departDateMin}} max={{form.departDateMax}} disabled=false><br><br>
							<label for="party">Choose your Departure time:</label>
								{{ form.departTime.__call__(**{'class': 'form-control'}) }}
							  <p><input type=submit value=Register>
							</form>
						<!-- dynamically change slideImage passed in as a variable to render our page -->												
						<img id="slideshow" src="/static/assets/{{ slideImage }}" width="100%" height="100%" style="position: absolute; z-index: 1; border: 1px solid #f00;">
					</div>

					<!--<img id="slideshow" src="" />-->
				</div>
			</div> 					
			<!-- div holding right slideshow arrow -->
			<!--<div id="right" class="col w4 h24 black arrow" onclick="slideImage()" style="float:right;"></div> -->	
		</div><!-- end of slideshow window -->
		
		<!-- include bottom navigation -->
	</div>
</div> <!-- end of panel wrap -->

<!-- |Hidden Panels below here -->


</body>
</html>