<!DOCTYPE html>
<html lang="en-gb">
<head>
	<title>Grand Travel</title>
    <meta name="authors" content="Andrew Belcher, Luke Clayton, Robert Painter">
    <meta name="description" content="Grand Travel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- adjustements to make directory structures more freindly with flask/jinja -->
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="stylesheet" href="/static/css/custom.css">
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">-->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
    <script type="text/javascript">
	

	<!-- where we want to put jquery code that runs when the pages is loaded -->
	
	$(window).on('load', function(){

		// departure/arrival strings to check later on
		var departName = $('#departLocation').find(":selected").text();	
		var arriveName = $('#arriveLocation').find(":selected").text();	
		var passCnt = $('#passengerCnt').val();

		
		initPage(); // important that we run this every time the pages is loaded so we initialize things
		
		// modal jquery
		$('.enlarge').mouseenter(function(){
				$('.text',this).removeClass('hide');
			});
			
		$('.enlarge').mouseleave(function(){
				$('.text',this).removeClass('hide');
			});	

	
		// checks if departure options has changed and we then parse that information into the url for flask to deal with form rendering
		$("#departLocation").change(function(e) {

					var departName = $('#departLocation').find(":selected").text();	

					// if we already have an departure in the url but we have changed our mind we still need to process it		
					if(window.location.href.indexOf("Departure=") > -1)
					{
						var departNameNew = $('#departLocation').find(":selected").text();				
						if(departName != "--")
						{			
					
							var data=window.location+"Departure="+departName;
							window.location.replace("Departure="+departNameNew, "Departure="+departName);
							//4console.log("url:"+ data);
							


							//window.location.replace(data);
						}
					}
					
					// pages is fresh with no departures previously selected so lets process that	
					else
					{
						var departNameNew = $('#departLocation').find(":selected").text();			
						if(departNameNew != "--")
						{			
						

							var data=window.location+"Departure="+departNameNew;
							window.location.replace(data);
							//window.location.assign(data);
							//console.log("url:"+ data);

							//window.location.assign(data);	
							//location.reload(false);

						}
					}
					
			// important so that this function doesn't just run once
			if(e.originalEvent) {
				window.location.assign();
			}
			}).change();

		// checks if arrival options has changed and we then parse that information into the url for flask to deal with form rendering
		$("#arriveLocation").change(function(e) {

			// if we already have an arrival in the url but we have changed our mind we still need to process it		
			if(window.location.href.indexOf("&Arrival=") > -1)
			{
				var arriveNameNew = $('#arriveLocation').find(":selected").text();				
				if(arriveName != "--")
				{				
					var data=window.location.href+"&Arrival="+arriveName;
					//console.log("if url:" +window.location);
					var url = window.location.toString();
					var prevUrl = url.split("&Arrival");
					window.location.replace(prevUrl[0]+"&Arrival="+arriveNameNew, "&Arrival="+arriveName);
				}

			}
			// pages is fresh with no arrivals previously selected so lets process that
			else
			{
				var arriveNameNew = $('#arriveLocation').find(":selected").text();			
				if(arriveNameNew != "--")
				{			
					var data=window.location+"&Arrival="+arriveNameNew;
					//console.log("else url:" +window.location);

					window.location.replace(data);
				}
			}
			// important so that this function doesn't just run once
			if(e.originalEvent) {
				window.location.assign();
			}
				}).change();
		
		$("#passengerCnt").change(function(e) {
		
						// if we already have an arrival in the url but we have changed our mind we still need to process it		
			if(window.location.href.indexOf("&passCnt=") > -1)
			{
				var passCntNew = $('#passengerCnt').val();
				
				if(passCntNew != passCnt)
				{				
					var data=window.location.href+"&passCnt="+passCnt;
					//console.log("if url:" +window.location);
					var url = window.location.toString();
					var prevUrl = url.split("&passCnt");
					window.location.replace(prevUrl[0]+"&passCnt="+passCntNew, "&passCnt="+passCnt);
				}

			}
			// pages is fresh with no arrivals previously selected so lets process that
			else
			{
				var passCntNew = $('#passengerCnt').val();
				console.log(passCntNew);
				if(passCntNew != passCnt)
				{			
					var data=window.location+"&passCnt="+passCntNew;
					//console.log("else url:" +window.location);

					window.location.replace(data);
				}
			}
		
			// important so that this function doesn't just run once
			if(e.originalEvent) {
			
				window.location.assign();
			}
		}).change();
		
		

			
	//
	});  // End Doc ready
	

		// space for our javascript functions below, we will prob move this to its own file when it gets bigger
			function initPage(){


			
var CssDebug = true // turn off and on as you please

if(CssDebug){    
            //Cache Buster
(function (){
  var rep = /.*\?.*/,
      links = document.getElementsByTagName('link'),
      scripts = document.getElementsByTagName('script'),
      process_scripts = false;
  for (var i=0;i<links.length;i++){
    var link = links[i],
        href = link.href;
    if(rep.test(href)){
      link.href = href+'&'+Date.now();
    }
    else{
      link.href = href+'?'+Date.now();
    }

  }
  if(process_scripts){
    for (var i=0;i<scripts.length;i++){
      var script = scripts[i],
          src = script.src;
      if(rep.test(src)){
        script.src = src+'&'+Date.now();
      }
      else{
        script.src = src+'?'+Date.now();
      }

    }
  }
})();
}
						// turn off depart time and arrivals until we check if we need to re-enable them
						document.getElementById("departTime").setAttribute("disabled",true);
						document.getElementById("arriveLocation").setAttribute("disabled",true);
						
						var departName = $('#departLocation').find(":selected").text();
						var arriveName = $('#arriveLocation').find(":selected").text();
						
					// basically the goal here was to keep our selections in arrival/departure after the page
					// currently broken after fixing url changing issues, need to rework this, but its an style thing really so later
						
					/*	if(window.location.href.indexOf("Departure=") > -1)
						{
							var departDropList = document.getElementById("departLocation")
							//departDropList.remove(0); 
							for(var x=0;x < departDropList.length -1 ; x++)
							{
							   //if(departName == departDropList.options[x].text)
							   var url1 = window.location.toString();
							   var url = url1.split('Departure='); 
							   if (url[1].search(departDropList.options[x].text) != -1)
							   {
									departDropList.selectedIndex = x;
							   }
							}
							
								if(window.location.href.indexOf("&Arrival=") > -1)
								{
								
									var departDropList = document.getElementById("departLocation")
									//departDropList.remove(0); 
									for(var x=0;x < departDropList.length -1 ; x++)
									{
									   //if(departName == departDropList.options[x].text)
									   var url1 = window.location.toString();
									   var url = url1.split('Departure='); 
									   if (url[1].search(departDropList.options[x].text) != -1)
									   {
											departDropList.selectedIndex = x;
									   }
									}
								
									var arriveDropList = document.getElementById("arriveLocation")
									//arriveDropList.remove(0); 
									for(var x=0;x < arriveDropList.length -1 ; x++)
									{
									   //if(departName == arriveDropList.options[x].text)
									  var url2 = window.location.toString();
									  var url = url2.split('&Arrival='); 
									  if (url[1].search(arriveDropList.options[x].text) != -1)
									  {
											arriveDropList.selectedIndex = x;
									  }
									}
								}
						}
				*/		
	

						// we need to removed the disabled attribute from input fields once we have a depart location
						// that way we can then calculate times/dates
						// having these fields open will just make more work for us / make it confusing to the customer
						
						var location = window.location.href; // pull url into a string to check with

						// ok now that we have selected a departure which shows in the url we can enable arrival selection

						if(location.indexOf("Departure") > -1) {
						
							document.getElementById("arriveLocation").removeAttribute("disabled");

						}
						
						// now that we have both an arrival and departure(arrival will only be in url if departure is)
						// we can enabled depart data/time now loaded with data from the database(in good time)
						
						if(location.indexOf("Arrival") > -1) {
							document.getElementById("departDate").removeAttribute("disabled");
							document.getElementById("departTime").removeAttribute("disabled");
							document.getElementById("bookPrice").removeAttribute("hidden");
							document.getElementById("submitBookingBtn").removeAttribute("disabled");
							document.getElementById("passengerCnt").removeAttribute("disabled");

						}

					}	
					
			// our ui handlers to trigger flask app routing
			function plane(){
						window.location.replace("../plane");
					}
					
			function train(){
						window.location.replace("../train");

					}
					
			function bus(){
						window.location.replace("../bus");

					}
					
			function taxi(){

						window.location.replace("../taxi");
					}
					
			function ferry(){
						window.location.replace("../ferry");
					}
</script>

</head>
<body>


<div class="wrapper w24 h23"> <!-- wrapper -->
	<div class="wrapperCont w16 h24">
		<!--<div class="col w24 h1 socBar"></div> <!-- social links -->
		<div class="col w24 h6"> <!-- banner logo space -->
			<!-- banner logo -->
			<div class="col w6 h24 grey"><img class="bannerLogo" src="{{ url_for('static', filename='assets/grandTravellogo.png') }}" height="100%" width="300%"></div>
			<!-- banner text -->
			<div class="col w18 h24 banner invert white">
				<!--<img class="bannerLogo" style="float:left;">-->
				Grand Travel
			</div>
		</div> 
		
		<div class="col w24 h1 nav pointer"><!-- navbar --> 
			<ul>
				<li class="col w3 h24 dark invert" onclick="plane()">PLANE</a></li>
				<li class="col w3 h24 dark invert" onclick="train()">TRAIN</a></li>
				<li class="col w3 h24 dark invert" onclick="bus()">BUS</a></li>
				<li class="col w3 h24 dark invert" onclick="taxi()">TAXI</a></li>
				<li class="col w3 h24 dark invert" onclick="ferry()">FERRY</a></li>

			</ul>			
		</div>
		
		<div class="col w24 h18 black"><!-- slidshow --> 
			<!-- div holding left slideshow arrow -->
			<!--<div class="col w4 h24 black arrow" onclick="backImage()"></div>-->
			<!-- main slideshow window -->
			<div class="col w24 h24 slideshowContainer fade">					
				<div style=" height: 100%">
					<!-- slideshow 1st image placeholder -->
					<div style="width: 100%; height: 100%; position: relative; border: 1px solid #000;">
							<!-- working area for dynamic forms based on the database data using jinja to pull and flask to feed -->
							<form method=post style="position: absolute; padding:10%; width:100%; height:100%; z-index: 2; color:white; background-color:black; opacity: 0.8;  border: 1px solid #0ff;">
							<label for="party">Choose your Departure location:</label><br>	
								{{ form.departLocation.__call__(**{'class': 'form-control'}) }}<br>
							
							<!-- greyed out until a departure is selected, too much irrelevant information to process -->
							<label for="party">Choose your Arrival location:</label><br>	
								{{ form.arriveLocation.__call__(**{'class': 'form-control'}) }}<br>
		
							<!-- after this our form is greyed out until we have both an arrival and departure selected, then our flask app will tell us what options are available-->
							<label for="party">Choose your Departure time:</label><br>
								{{ form.departTime.__call__(**{'class': 'form-control'}) }}<br>
							<label for="party">Choose your Departure Date:</label><br>
							<input type="date" id="departDate" min={{form.departDateMin}} max={{form.departDateMax}} disabled><br>
							<label for="party">How many are traveling:</label><br>
							<input type="number" id="passengerCnt" min={{form.passCntMin}} max={{ form.passCntMax }} value={{ form.passCnt}} disabled><br><br>
							<!-- our booking confirm button for later that will trigger a model to process payment -->
							<button id="submitBookingBtn" disabled type=submit>Book!</button>
							<p id="bookPrice" hidden>Booking Price: {{ bookingPrice }}</p>
							</form>
						<!-- dynamically change slideImage passed in as a variable to render our page -->												
						<img id="slideshow" src="/static/assets/{{ slideImage }}" width="100%" height="100%" style="position: absolute; z-index: 1; border: 1px solid #f00;">
					</div>

					<!--<img id="slideshow" src="" />-->
				</div>
			</div> 					
			<!-- div holding right slideshow arrow -->
			<!--<div id="right" class="col w4 h24 black arrow" onclick="slideImage()" style="float:right;"></div> -->	
		</div><!-- end of slideshow window -->
		
		<!-- include bottom navigation -->
	</div>
</div> <!-- end of panel wrap -->

<!-- |Hidden Panels below here -->


</body>
</html>