<!DOCTYPE html>
<html lang="en-gb">
<head>
	<title>Grand Travel</title>
    <meta name="authors" content="Andrew Belcher, Luke Clayton, Robert Painter">
    <meta name="description" content="Grand Travel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- adjustements to make directory structures more freindly with flask/jinja -->
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="stylesheet" href="/static/css/custom.css">
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">-->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
    <script type="text/javascript">
	

	<!-- where we want to put jquery code that runs when the pages is loaded -->
	
	$(window).on('load', function(){

	
		
		initPage(); // important that we run this every time the pages is loaded so we initialize things
		doCheck();
		  $('.form-fields').keyup(doCheck);
		
		// modal jquery
		$('.enlarge').mouseenter(function(){
				$('.text',this).removeClass('hide');
			});
			
		$('.enlarge').mouseleave(function(){
				$('.text',this).removeClass('hide');
			});	


			
				var in1 = document.getElementById('passengerCntAdult');
/*
		$("#passengerCntAdult").change(function(e) {

  var in2 = document.getElementById('passengerCntAdult');
  var out = document.getElementById('passengerCntChild');
  var val = parseInt(in1.value, 10);
  in2.setAttribute('max', val);
  console.log("in listener");
  out.value = in2.getAttribute('max');
  if(e.originalEvent) {
				
					window.location.reload();
			}
});*/
			
	//$(function() {
    /*$('#passengerCntAdult').change(function(e) {
        //var user = $('#txtUsername').val();
        //var pass = $('#txtPassword').val();
        $.ajax({
            url: '/submit_form',
            data: {
				slideImage: "GT"+"{{travel_method}}" +".jpg",
				travel_method: "{{travel_method}}",
				departure_location: "{{departure_location}}",
				arrival_location:"{{arrival_location}}",
				passengerCount:"{{passengerCount}}",
				departTime:"{{departTime}}",
				departDate:"{{departDate}}"
			},
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log("form = "+$('form'));
				console.log(error);
            }
    });
});*/
	
				

	//
	});  // End Doc ready
	

		// space for our javascript functions below, we will prob move this to its own file when it gets bigger
			function initPage(){

}
					
			// our ui handlers to trigger flask app routing
			function plane(){
						window.location.replace("../plane");
					}
					
			function train(){
						window.location.replace("../train");

					}
					
			function bus(){
						window.location.replace("../bus");

					}
					
			function taxi(){

						window.location.replace("../taxi");
					}
					
			function ferry(){
						window.location.replace("../ferry");
					}
					
			function dateHandler(event){
				//var departDateValuej = $('#departDate').find(":selected").text();

				//console.log("depart date selected: "+ departDateValuej);
				// important so that this function doesn't just run once
				/*if(e.originalEvent) {
				
					window.location.assign();
			}*/
		}
			function removeHidden(id)
			{
				var x = document.getElementById(id);
				if (x.style.display === "block") {
					x.style.display = "none";
				} else {
					x.style.display = "block";
				}
			}
			
				function doCheck() {
			  var allFilled = true;
			  $('.form-fields:not(#submitPassInfoBtn)').each(function() {
				if ($(this).val() == '') {
				  allFilled = false;
				}
			  });

			  $('button[type=submit]').prop('disabled', !allFilled);
			  if (allFilled) {
				$('button[type=submit]').removeAttr('disabled');
			  }
			}
		
	
</script>

</head>
<body>


<div class="wrapper w24 h24"> <!-- wrapper -->
	<div class="wrapperCont w24 h24">
		<!--<div class="col w24 h1 socBar"></div> <!-- social links -->
		<div class="col w24 h7"> <!-- banner logo space -->
			<!-- banner logo -->
			<div class="col w12 h20 grey"><img class="bannerLogo" src="{{ url_for('static', filename='assets/grandTravellogo.jpg') }}" height="125%" width="100%" style="z-index:0; position:absolute; bottom:-25%; "></div>
			<!-- banner text -->
			<div class="col w12 h20 banner invert white">
				<!--<img class="bannerLogo" style="float:left;">-->
				Grand Travel
			</div>
		
		
			<div class="col w24 h4 nav" style="z-index:1; position:relative; bottom:0;"><!-- navbar --> 
				<ul>
					<li class="col w4 h24 clear nohover"></a></li>
					<li class="col w3 h24 gtblue invert navButton" onclick="plane()">PLANE</a></li>
					<li class="col w3 h24 gtblue invert navButton" onclick="train()">TRAIN</a></li>
					<li class="col w3 h24 gtblue invert navButton" onclick="bus()">BUS</a></li>
					<li class="col w3 h24 gtblue invert navButton" onclick="taxi()">TAXI</a></li>
					<li class="col w3 h24 gtblue invert navButton" onclick="ferry()">FERRY</a></li>
					<li class="col w5 h24 white nohover"></a></li>
				</ul>				
			</div>
		</div> 
		<div class="col w24 h17 black "><!-- slidshow --> 
			<!-- div holding left slideshow arrow -->
			<!--<div class="col w4 h24 black arrow" onclick="backImage()"></div>-->
			<!-- main slideshow window -->
			<div class="col w24 h24 slideshowContainer fade">					
				<div style=" height: 100%">
					<!-- slideshow 1st image placeholder -->
					<div style="width: 100%; height: 100%; position: relative; color:white; background-color:black;  border-top: 1px solid #fff;">
							<!-- working area for dynamic forms based on the database data using jinja to pull and flask to feed -->
						
							
									<form class="form" action={{ url_for('purchase_form') }} method="POST" style="position: absolute; padding:10%; width:100%; height:100%; z-index: 1; margin-left: 20%; margin-right:20%; ">
										<br>
										<div>travel method: {{travel_method}}</div>
										<div>departure: {{departure_location}}</div>
										<div>arrival: {{arrival_location}}</div>
										<div>depart time: {{departTime}}</div>
										<div>depart date: {{departDate}}</div>
										<div>number of passengers: {{passengerCount}}</div><br>
										<div>Booking Price: £{{bookingPrice}}</div><br>

										<input type="text" name="travel_method" value={{travel_method}} hidden>
										<input type="text" name="departure_location" value={{departure_location}} hidden>
										<input type="text" name="arrival_location" value={{arrival_location}} hidden>
										<input type="text" name="departTime" value={{departTime}} hidden>
										<input type="date" name="departDate" value={{departDate}} hidden>
										<input type="number" name="passengerCount" value={{passengerCount}} hidden>
										<input type="number" name="bookingPrice" value={{bookingPrice}} hidden>
												{% for passenger in range(0,passengerCount ) %}
												    {% if loop.index < 2 %}
														Input passenger {{passenger + 1|int}}'s age :
														<input type="number" name={{"passengerAge"~(passenger+1)}} id={{"passengerAge"~(passenger+1)}} class='form-fields' onclick="doCheck();" min=12 max=130><br>
												    {% else %}
													Input passenger {{passenger + 1|int}}'s age :
														<input type="number" name={{"passengerAge"~(passenger+1)}} id={{"passengerAge"~(passenger+1)}} class='form-fields' onclick="doCheck();" min=1 max=130><br>
													{% endif %}
												{% endfor %}
								
										<p>Confirm Booking and process payment?</p>
										<button id="submitPassInfoBtn"  disabled type=submit>Submit</button>
									</form>
						<!-- dynamically change slideImage passed in as a variable to render our page -->												
						<img id="slideshow" src="/static/assets/{{ slideImage }}" width="100%" height="100%" style="position: absolute; z-index:0; opacity: 0.5; ">
					</div>

					<!--<img id="slideshow" src="" />-->
				</div>
			</div> 					
			<!-- div holding right slideshow arrow -->
			<!--<div id="right" class="col w4 h24 black arrow" onclick="slideImage()" style="float:right;"></div> -->	
		</div><!-- end of slideshow window -->
		
		<!-- include bottom navigation -->
	</div>
</div> <!-- end of panel wrap -->

<!-- |Hidden Panels below here -->


</body>
</html>