<!DOCTYPE html>
<html lang="en-gb">
<head>
	<title>Grand Travel</title>
    <meta name="authors" content="Andrew Belcher, Luke Clayton - 17022390, Robert Painter - 17024721">
    <meta name="description" content="Grand Travel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- adjustements to make directory structures more freindly with flask/jinja -->
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="stylesheet" href="/static/css/custom.css">
	<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">-->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.js') }}"></script>
    <script type="text/javascript">
	

	<!-- where we want to put jquery code that runs when the pages is loaded -->
	
	$(window).on('load', function(){

	
		
		initPage(); // important that we run this every time the pages is loaded so we initialize things
		doCheck();
		  $('.form-fields').keyup(doCheck);
		
		// modal jquery
		$('.enlarge').mouseenter(function(){
				$('.text',this).removeClass('hide');
			});
			
		$('.enlarge').mouseleave(function(){
				$('.text',this).removeClass('hide');
			});	


			
				var in1 = document.getElementById('passengerCntAdult');
/*
		$("#passengerCntAdult").change(function(e) {

  var in2 = document.getElementById('passengerCntAdult');
  var out = document.getElementById('passengerCntChild');
  var val = parseInt(in1.value, 10);
  in2.setAttribute('max', val);
  console.log("in listener");
  out.value = in2.getAttribute('max');
  if(e.originalEvent) {
				
					window.location.reload();
			}
});*/
			
	//$(function() {
    /*$('#passengerCntAdult').change(function(e) {
        //var user = $('#txtUsername').val();
        //var pass = $('#txtPassword').val();
        $.ajax({
            url: '/submit_form',
            data: {
				slideImage: "GT"+"{{travel_method}}" +".jpg",
				travel_method: "{{travel_method}}",
				departure_location: "{{departure_location}}",
				arrival_location:"{{arrival_location}}",
				passengerCount:"{{passengerCount}}",
				departTime:"{{departTime}}",
				departDate:"{{departDate}}"
			},
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log("form = "+$('form'));
				console.log(error);
            }
    });
});*/
	
				

	//
	});  // End Doc ready
	

		// space for our javascript functions below, we will prob move this to its own file when it gets bigger
			function initPage(){

}
					
			// our ui handlers to trigger flask app routing
			function plane(){
						window.location.replace("../plane");
					}
					
			function train(){
						window.location.replace("../train");

					}
					
			function bus(){
						window.location.replace("../bus");

					}
					
			function taxi(){

						window.location.replace("../taxi");
					}
					
			function ferry(){
						window.location.replace("../ferry");
					}
					
			function dateHandler(event){
				//var departDateValuej = $('#departDate').find(":selected").text();

				//console.log("depart date selected: "+ departDateValuej);
				// important so that this function doesn't just run once
				/*if(e.originalEvent) {
				
					window.location.assign();
			}*/
		}
			function removeHidden(id)
			{
				var x = document.getElementById(id);
				if (x.style.display === "block") {
					x.style.display = "none";
				} else {
					x.style.display = "block";
				}
			}
			
				function doCheck() {
			  var allFilled = true;
			  $('.form-fields:not(#submitPassInfoBtn)').each(function() {
				if ($(this).val() == '') {
				  allFilled = false;
				}
			  });

			  $('button[type=submit]').prop('disabled', !allFilled);
			  if (allFilled) {
				$('button[type=submit]').removeAttr('disabled');
			  }
			}
		
		function submitFromPaypal(){
			document.getElementById('payMethod').value='paypal';
			document.getElementById('paymentForm').submit();
		
		}
	
</script>

</head>
<body>


<div class="wrapper w24 h24"> <!-- wrapper -->
	<div class="wrapperCont w24 h24">
		<!--<div class="col w24 h1 socBar"></div> <!-- social links -->
		<div class="col w24 h3 "> <!-- banner logo space -->
		
			<!-- banner logo -->
			<div class="col w2 24 "><img class="bannerLogo" src="{{ url_for('static', filename='assets/grandTravellogo.jpg') }}" height="70%" width="100%" style=" position:absolute; bottom:10%; padding-left:10%; margin-left:5%; margin-right:20%; "></div>
			<!-- banner text -->
			<div class="col w18 h14 banner invert white" style="padding:0;">
				<!--<img class="bannerLogo" style="float:left;">-->
				Grand Travel
			</div>

			<div class="col w18 h10 nav" style=" position:relative; bottom:0; "><!-- navbar --> 
				<ul>
					<li class="col w2 h24 clear nohover"></a></li>
					<li id="planeButt" class="col w4 h16 gtblue invert navButton" onclick="plane()">PLANE</a></li>
					<li id="trainButt"class="col w4 h16 gtblue invert navButton" onclick="train()">TRAIN</a></li>
					<li id="busButt"class="col w4 h16 gtblue invert navButton" onclick="bus()">BUS</a></li>
					<li id="taxiButt"class="col w4 h16 gtblue invert navButton" onclick="taxi()">TAXI</a></li>
					<li id="ferryButt"class="col w4 h16 gtblue invert navButton" onclick="ferry()">FERRY</a></li>
					<li class="col w5 h24 white nohover"></a></li>
				</ul>			
			</div>
			<form id="loginForm" class="col w4 h24" style="position:absolute; top:0; padding:0.5%; right:0; font-size:1.5vmin;  z-index:1; color:black;">
				<div class="nav col w24 h3">Login</div>
				<div class="col w24 h3"></div>
				<div class="col w8 h4">Username:</div>
				<input class="col w15 h4" type="text" size=25 name="username" id="username">
				<div class="col w24 h1"></div>
				<div class="col w8 h4">Password:</div>
				<input class="col w15 h4" type="password" size=25 name="password" id="password">
				<div class="col w24 h1"></div>
				<button class="col w10 h5" style="float:right; right:4%;" type=submit >Submit</button>
			</form>
		
		</div> 
		<div class="col w24 h21 black "><!-- slideshow --> 
		
			<!-- div holding left slideshow arrow -->
			<!--<div class="col w4 h24 black arrow" onclick="backImage()"></div>-->
			<!-- main slideshow window -->
			<div class="col w24 h24 slideshowContainer fade">					
				<div style=" height: 100%">
					<!-- slideshow 1st image placeholder -->
					<div class="col w24 h24" style="width: 100%; height: 100%; position: relative; color:white; background-color:black;  border-top: 1px solid #fff;">
							<!-- working area for dynamic forms based on the database data using jinja to pull and flask to feed -->
						
							
									<form class="form col w24 h24" id="paymentForm" action={{ url_for('reciept_page') }} method="POST" style="position: absolute; padding-top:3%; width:100%; height:100%; z-index: 1; margin-left:0%; margin-right:0%; ">
										<div class="col w8 h24 " style="float:left;"></div>	
										<div class="col w10 h24" style="">
											<div class ="bigbh">Passenger Details</div><br>
											<div class ="bigbt">SURNAME: {{bookerLastName}}</div>
											<div class ="bigbt">NAME: {{bookerFirstName}}</div><br>
											<div>You're traveling by <span class='bigbt'>{{travel_method}}</span>
											to <span class='bigbt'>{{departure_location}}</span></div>
											<div>You're destination is <span class='bigbt'>{{arrival_location}}</span></div><br>
											<div>You're departing at <span class='bigbt'>{{departTime}}</span></div>
											<div>on <span class='bigbt'>{{departDate}}</span></div><br>
											<div> The number of Passengers is <span class='bigbt'>{{passengerCount}}</span></div>
											<div>{% if travel_method == "Plane" %}
													Your Flight number is <span class='bigbt'>{{ vessleNumber }}</span>
												{% elif travel_method == "Train" %}	
													Your Train number is <span class='bigbt'>{{ vessleNumber }}</span>
												{% elif travel_method == "Bus" %}
													Your Bus number is <span class='bigbt'>{{ vessleNumber }}</span>
												{% elif travel_method == "Taxi" %}
													Your Taxi number is <span class='bigbt'>{{ vessleNumber }}</span>
												{% else %}
													Your Ferry number is <span class='bigbt'>{{ vessleNumber }}</span>
												{% endif %}
												
													</div><br>
											<div>Total Fare/Taxes/Charges is  <span class='bigbt'>GBP{{bookingPrice}}</span></div><br>
											<div>Discount Price <span class='bigbt'>GBP{{discountedPrice}}</span></div><br>
											
									
											<input type="text" name="travel_method" value={{travel_method}} hidden>
											<input type="text" name="departure_location" value={{departure_location}} hidden>
											<input type="text" id="vessleNumber" name="vessleNumber" value={{vessleNumber}} hidden>
											<input type="text" name="arrival_location" value={{arrival_location}} hidden>
											<input type="text" name="departTime" value={{departTime}} hidden>
											<input type="text" name="departDate" value={{departDate}} hidden>
											<input type="text" name="passengerCount" value={{passengerCount}} hidden>
											<input type="text" name="FirstName" id="FirstName" value={{bookerFirstName}} hidden>
											<input type="text" name="LastName" id="LastName" value={{bookerLastName}} hidden>
											<input type="text" name="slideImage" id="slideImage" value={{slideImage}} hidden>
											<input type="text" name="discountedPrice" id="discountedPrice" value={{discountedPrice}} hidden>
											<input type="text" name="customerID" id="customerID" value={{customerID | default(None, true)}} hidden>
											<input type="text" name="payMethod" id="payMethod" value="" hidden>


											
		
											<p>Please choose your payment method</p>
											<p><span class='paypal'>PayPal</span></p><br>

											<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
											<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" onclick="submitFromPaypal();" alt="PayPal – The safer, easier way to pay online!">
											<img alt="" border="" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
										</div>
										<div class="col w6 h24"></div>

									</form>
									
									
									

									
						<!-- dynamically change slideImage passed in as a variable to render our page -->												
						<img id="slideshow" src="/static/assets/{{ slideImage }}" width="100%" height="100%" style="position: absolute; z-index:0; opacity: 0.3; ">
					</div>

					<!--<img id="slideshow" src="" />-->
				</div>
			</div> 					
			<!-- div holding right slideshow arrow -->
			<!--<div id="right" class="col w4 h24 black arrow" onclick="slideImage()" style="float:right;"></div> -->	
		</div><!-- end of slideshow window -->
		
		<!-- include bottom navigation -->
	</div>
</div> <!-- end of panel wrap -->

<!-- |Hidden Panels below here -->